/* font family

1x Text gelbe Schrift
.tangerine--fontFamily
font-family: Tangerine--bold, sans-serif;

2x Text oben und unten 
.roboto--fontFamily
font-family: Roboto--black, sans-serif;

ganze Text 
font-family: Santio--black, sans-serif;



*/

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-size: 16px;
    max-width: 1440px;
    scroll-behavior: smooth;
}

/* ****************** font family ******************** */

@font-face {
    font-family: Tangerine--bold;
    src: url("../fonts/Tangerine/Tangerine-Bold.ttf");
}

@font-face {
    font-family: Roboto--black;
    src: url("../fonts/Roboto_2/Roboto-Black.ttf");
}

@font-face {
    font-family: Santio--black;
    src: url("../fonts/SANTIO/TTF/Santio\ Black.ttf");
}

/* ! ************ Start parallax Effekt ********** */
/* ! ************ Start parallax Effekt ********** */
/* ! ************ Start parallax Effekt ********** */

body, html {
    height: 100%;
}

.section--parallaxEffekt {
background-image: url("../img/cleo-topper.jpg");

height: 100%;

background-attachment: fixed;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/* ! ************ Ende parallax Effekt ********** */
/* ! ************ Ende parallax Effekt ********** */
/* ! ************ Ende parallax Effekt ********** */


/* ******************+ Beginn Style ********** */
/* ******************+ Beginn Style ********** */
/* ******************+ Beginn Style ********** */


/* ********* font Familys zugewiesen ******** */

html {
    font-family: Santio--black, sans-serif;
}

.roboto--fontFamily{
    font-family: Roboto--black, sans-serif;
}

.tangerine--fontFamily {
    font-family: Tangerine--bold, sans-serif;
}

/* *************** farbe Schrift ***************** */

.color--white{
    color: #fff;
}

/* **************** grauer Hintergrund bei Texten ********** */

.background-color--grau{
    background-color: #29272A;
}

/* ****************** header ***************** */
/* ****************** header ***************** */
/* ****************** header ***************** */

.header__section__rechtsMitBild{
    background-color: red;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 5vw;
    margin-bottom: -5vh;        /* * damit header nicht über parallax Effekt ist */
    padding-top: 1vh;
}

.header__section__rechtsMitBild>img{

    width: 2vh;
    margin-right: 1vw;
}

.header__section__rechtsMitBild>p{
/*     background-color: blue;
 */}

#unterstrich{
    position: absolute;
    top: 4vh;
    background-color: #e7bc0e;
    height: 2px;
    width: 7vw;
}

/* ********************** main ***************** */
/* ********************** main ***************** */
/* ********************** main ***************** */

.section--parallaxEffekt{
    padding-top: 40vh;
}


/* **************** erster Text und Text mit Kursiven Schrift **** */

.section__ersterText{
    width: 23vw;
    margin-left: 10vw;
}

.section__ersterText>p{
    font-size: 4rem;
    margin-bottom: 20vh;
}

.section__ersterText>article>p{
    color: #e7bc0e;
    font-size: 3rem;
}

.section__ersterText>article>p::after{
    content: "  ⎷ ";
}


/* ********************** zweiter Text ********************* */

.zweiterText{
    margin-top: 90vh;
    width: 85vw;
    margin-left: 13vw;
    font-size: 3rem;
}

/* *************************** Logos mit Info mit Text ******* */

.section--rahmen--abstandNachOben{
    margin-top: 100vh;
    width: 80vw;
    margin-left: 10vw;
}

.section--rahmen--abstandNachOben>section{
    height: 128vh;  /* * Abstand zu anderen Logos */
}

.section--rahmen--abstandNachOben>section>img{
    width: 15vw; /* * größe der Logos */
    margin-bottom: 10vh;
}

.text--groß{
    font-size: 14rem;
}

.text--klein{
    font-size: 3.8rem;
}
.text--farbe--1{
    color: #e7bc0e;
}

.text--farbe--2{
    color: #cb91b6;
}

.text--farbe--3{
    color: #6bc1a3;
}

/* ******************* dritter text ****************** */

.dritterText{
    width: 50vw;
    margin-left: 35vw;
    font-size: 3rem;
    line-height: 1.5;   /* * 1.5 fache Zeilenabstand als Normal */
    color: #7eb8e1;
}


footer{
    background-color: #000;
}


/* ****************** Parallax ausschalten für Mobilgeräte ************* */
/* * da es meist Fehler auf Handys verursacht und nicht 
* richtig angezeigt wird bzw. nicht richtig funktioniert  */

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }